<!DOCTYPE html>
<html>
    <head>
        <title>
            Úvodní stránka
        </title>
    </head>
    <body>
        <h1>Detail knihy</h1>
        <h2>{{ book.title }}</h2>
        <dl>
            <dt>Rok vydání:</dt>
            <dd>{{ book.year }}</dd>
        </dl>

        <a href="/">Zpět na seznam</a>
    </body>
</html>