<!DOCTYPE html>
<html>
    <head>
        <title>
            Úvodní stránka
        </title>
    </head>
    <body>
        <h1>Nazdar</h1>
        <p>Vitej v nasi knihovne</p>

        <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book.id %}">
                    {{ book.title }}
                </a>
            </li>
        {% endfor %}
        </ul>

        {{ message }}

        <hr />
        {{ footer }}
    </body>
</html>